@model BookViewModel

<div class="text-center">
    <h1 class="display-4">Hello! Your book is @Model.Name</h1>
    <p>Author of this book is @Model.Author and this book have @Model.Pages pages!</p>
</div>
